@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=VT323&display=swap);
/* Font Variables */
/* Colors Variables */
/* Mixins */
/* Glitching Text from Isaac Doud - https://codepen.io/cipherbeta  */
.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
  flex: 0 1 auto;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
  /* Creates a copy before our text. */
  /* // Creates a copy after our text. Note comments from ::before. */
}
.glitch::before {
  /* Duplicates our text with the mixin. */
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Scoots text slightly to the left for the color offset. */
  left: 2px;
  /* // Creates the color 'shadow' that happens on the glitch. */
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(68px, 9999px, 8px, 0);
    transform: skew(0.94deg);
  }
  5% {
    clip: rect(19px, 9999px, 99px, 0);
    transform: skew(0.19deg);
  }
  10% {
    clip: rect(21px, 9999px, 40px, 0);
    transform: skew(0.93deg);
  }
  15% {
    clip: rect(63px, 9999px, 54px, 0);
    transform: skew(0.5deg);
  }
  20% {
    clip: rect(20px, 9999px, 38px, 0);
    transform: skew(0.74deg);
  }
  25% {
    clip: rect(11px, 9999px, 45px, 0);
    transform: skew(0.07deg);
  }
  30% {
    clip: rect(98px, 9999px, 40px, 0);
    transform: skew(0.69deg);
  }
  35% {
    clip: rect(66px, 9999px, 86px, 0);
    transform: skew(0.73deg);
  }
  40% {
    clip: rect(9px, 9999px, 65px, 0);
    transform: skew(0.67deg);
  }
  45% {
    clip: rect(40px, 9999px, 42px, 0);
    transform: skew(0.54deg);
  }
  50% {
    clip: rect(97px, 9999px, 39px, 0);
    transform: skew(0.74deg);
  }
  55% {
    clip: rect(99px, 9999px, 35px, 0);
    transform: skew(0.93deg);
  }
  60% {
    clip: rect(12px, 9999px, 50px, 0);
    transform: skew(0.61deg);
  }
  65% {
    clip: rect(94px, 9999px, 16px, 0);
    transform: skew(0.69deg);
  }
  70% {
    clip: rect(62px, 9999px, 6px, 0);
    transform: skew(0.04deg);
  }
  75% {
    clip: rect(58px, 9999px, 87px, 0);
    transform: skew(0.01deg);
  }
  80% {
    clip: rect(20px, 9999px, 91px, 0);
    transform: skew(0.96deg);
  }
  85% {
    clip: rect(32px, 9999px, 99px, 0);
    transform: skew(0.37deg);
  }
  90% {
    clip: rect(57px, 9999px, 74px, 0);
    transform: skew(0.99deg);
  }
  95% {
    clip: rect(62px, 9999px, 80px, 0);
    transform: skew(0.35deg);
  }
  100% {
    clip: rect(69px, 9999px, 56px, 0);
    transform: skew(0.21deg);
  }
}
/* // Same deal, just duplicated for ultra randomness. */
@keyframes glitch-anim2 {
  0% {
    clip: rect(14px, 9999px, 78px, 0);
    transform: skew(0.83deg);
  }
  5% {
    clip: rect(72px, 9999px, 25px, 0);
    transform: skew(0.99deg);
  }
  10% {
    clip: rect(75px, 9999px, 88px, 0);
    transform: skew(0.3deg);
  }
  15% {
    clip: rect(1px, 9999px, 18px, 0);
    transform: skew(0.57deg);
  }
  20% {
    clip: rect(27px, 9999px, 43px, 0);
    transform: skew(0.65deg);
  }
  25% {
    clip: rect(21px, 9999px, 51px, 0);
    transform: skew(0.91deg);
  }
  30% {
    clip: rect(84px, 9999px, 72px, 0);
    transform: skew(0.38deg);
  }
  35% {
    clip: rect(43px, 9999px, 59px, 0);
    transform: skew(0.69deg);
  }
  40% {
    clip: rect(41px, 9999px, 53px, 0);
    transform: skew(0.36deg);
  }
  45% {
    clip: rect(90px, 9999px, 95px, 0);
    transform: skew(0.11deg);
  }
  50% {
    clip: rect(94px, 9999px, 27px, 0);
    transform: skew(0.73deg);
  }
  55% {
    clip: rect(48px, 9999px, 25px, 0);
    transform: skew(0.95deg);
  }
  60% {
    clip: rect(85px, 9999px, 63px, 0);
    transform: skew(0.29deg);
  }
  65% {
    clip: rect(36px, 9999px, 12px, 0);
    transform: skew(0.01deg);
  }
  70% {
    clip: rect(99px, 9999px, 45px, 0);
    transform: skew(0.3deg);
  }
  75% {
    clip: rect(29px, 9999px, 76px, 0);
    transform: skew(0.47deg);
  }
  80% {
    clip: rect(22px, 9999px, 12px, 0);
    transform: skew(0.94deg);
  }
  85% {
    clip: rect(48px, 9999px, 80px, 0);
    transform: skew(0.08deg);
  }
  90% {
    clip: rect(11px, 9999px, 14px, 0);
    transform: skew(0.29deg);
  }
  95% {
    clip: rect(79px, 9999px, 51px, 0);
    transform: skew(0.84deg);
  }
  100% {
    clip: rect(51px, 9999px, 57px, 0);
    transform: skew(0.2deg);
  }
}
/* // Does the same deal as before, but now only skews. Used for main text. */
@keyframes glitch-skew {
  0% {
    transform: skew(1deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(0deg);
  }
  30% {
    transform: skew(5deg);
  }
  40% {
    transform: skew(5deg);
  }
  50% {
    transform: skew(1deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(-2deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(3deg);
  }
  100% {
    transform: skew(2deg);
  }
}
@keyframes glitchout {
  0% {
    text-shadow: none;
    opacity: 1;
  }
  5% {
    text-shadow: -1.5px -1.5px 0 #00fff9, 2px 2px 0 #ff00c1;
  }
  15% {
    text-shadow: 2px 2px 0 #00fff9, -1.5px -1.5px 0 #ff00c1;
  }
  23% {
    text-shadow: 1.5px -2px 0 #00fff9, -2px 1.5px 0 #ff00c1;
  }
  35% {
    text-shadow: 2px 2px 0 #00fff9, -1.5px -1px 0 #ff00c1;
  }
  48% {
    text-shadow: 1.5px -2px 0 #00fff9, -2px 1.5px 0 #ff00c1;
  }
  57% {
    text-shadow: 2px 2px 0 #00fff9, -1.5px -1.5px 0 #ff00c1;
  }
  63% {
    text-shadow: 1.5px -2px 0 #00fff9, -2px 1.5px 0 #ff00c1;
  }
  75% {
    text-shadow: -1px 1.5px 0 #00fff9, 1.5px -3px 0 #ff00c1;
  }
  87% {
    text-shadow: 2px 2px 0 #00fff9, -1.5px -1.5px 0 #ff00c1;
    opacity: 0.8;
  }
  95% {
    text-shadow: 1.5px -2px 0 #00fff9, -2px 1.5px 0 #ff00c1;
  }
  100% {
    text-shadow: none;
    opacity: 0;
  }
}
@keyframes glitchin {
  0% {
    text-shadow: none;
    opacity: 0;
  }
  5% {
    text-shadow: -1.5px -1.5px 0 #00fff9, 2px 2px 0 #ff00c1;
  }
  15% {
    text-shadow: 2px 2px 0 #00fff9, -1.5px -1.5px 0 #f00;
  }
  23% {
    text-shadow: 1.5px -2px 0 #00fff9, -2px 1.5px 0 #ff00c1;
    opacity: 0.15;
  }
  35% {
    text-shadow: 2px 2px 0 #00fff9, -1.5px -1px 0 #ff00c1;
  }
  48% {
    text-shadow: 1.5px -2px 0 #00fff9, -2px 1.5px 0 #ff00c1;
  }
  57% {
    text-shadow: 2px 2px 0 #00fff9, -1.5px -1.5px 0 #ff00c1;
  }
  63% {
    text-shadow: 1.5px -2px 0 #00fff9, -2px 1.5px 0 #ff00c1;
  }
  75% {
    text-shadow: -1px 1.5px 0 #00fff9, 1.5px -3px 0 #ff00c1;
  }
  87% {
    text-shadow: 2px 2px 0 #00fff9, -1.5px -1.5px 0 #ff00c1;
    opacity: 0.8;
  }
  95% {
    text-shadow: 1.5px -2px 0 #00fff9, -2px 1.5px 0 #ff00c1;
  }
  100% {
    text-shadow: none;
    opacity: 1;
  }
}
/* Desktops and laptops ———– */
/* Styles */
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Typography */
h1 {
  margin: 2.1rem 0 1.08rem 0;
}

h2, h3 {
  font-family: "VT323", monospace;
  letter-spacing: 0.5em;
  font-weight: 600 !important;
}

p {
  font-family: "VT323", monospace;
  color: #fff;
  font-size: 1em;
}

#skills .chip {
  color: #00fff9 !important;
  font-weight: 600;
  font-size: 18px;
}

#projects ul {
  list-style: none;
  margin-left: -20px;
}

#projects li {
  position: relative;
  padding-left: 40px;
  font-family: "VT323", monospace;
  font-size: 1.2em;
}

#projects li a {
  color: #ff00c1;
  font-weight: 600;
}

#projects .card {
  background-color: rgba(0, 0, 0, 0);
}

#projects li:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/Glitch%20Pngs%203%20%5BBEAPANDA%5D%20(1).png");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 20%;
  transform: translateY(-40%);
}

/* Layout & Section Styling */
.loading {
  height: 100%;
  width: 100%;
  background: #000;
}

.section-title {
  position: relative;
  padding: 3% 0;
}

#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#about {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-top: 3%;
  background-image: linear-gradient(110deg, rgba(255, 0, 193, 0.3), black 60%), url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right-sidebar {
  top: 35%;
  right: 2%;
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 0);
}

.right-sidebar li {
  padding-bottom: 40%;
}

#projects {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/coding-1841550_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#html {
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/HTML5_Logo_512.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  max-width: 80vw;
  max-height: 40vh;
}

#js {
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/500px-Unofficial_JavaScript_logo_2.svg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  max-width: 80vw;
  max-height: 40vh;
}

#react {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/500px-React-icon.svg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  max-width: 80vw;
  max-height: 40vh;
}

#wp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/wplogoblue-notext-rgb.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  max-width: 80vw;
  max-height: 40vh;
}

#contact {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(131, 22, 193, 0.6), rgba(131, 22, 193, 0.6)), url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.bio-icon:hover {
  color: #d500f9;
}

#bio {
  z-index: 2;
}

#bio.glitchin {
  -webkit-animation: glitchin 0.9s linear 1s both;
  -moz-animation: glitchin 0.9s linear 1s both;
  -ms-animation: glitchin 0.9s linear 1s both;
  -o-animation: glitchin 0.9s linear 1s both;
  animation: glitchin 0.9s linear 1s both;
}

#bio.glitchout {
  -webkit-animation: glitchout 0.5s linear both;
  -moz-animation: glitchout 0.5s linear both;
  -ms-animation: glitchout 0.5s linear both;
  -o-animation: glitchout 0.5s linear both;
  animation: glitchout 0.5s linear both;
}

/*  Slide In/Out Skills */
#skills {
  position: absolute;
  width: 50vw;
  transform: translatex(-35vh);
  z-index: 0;
}

#skills.glitch-in {
  -webkit-animation: glitchin 0.5s linear 1s both;
  -moz-animation: glitchin 0.5s linear 1s both;
  -ms-animation: glitchin 0.5s linear 1s both;
  -o-animation: glitchin 0.5s linear 1s both;
  animation: glitchin 0.5s linear 1s both;
}

#skills.glitch-out {
  -webkit-animation: glitchout 0.5s linear both;
  -moz-animation: glitchout 0.5s linear both;
  -ms-animation: glitchout 0.5s linear both;
  -o-animation: glitchout 0.5s linear both;
  animation: glitchout 0.5s linear both;
}

/* Forms Styling */
.contact-form {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.textfield {
  margin-left: 5%;
}

/* label color */
.input-field label {
  color: #ffffff;
  padding-left: 1%;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #d500f9 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 3px solid #d500f9 !important;
  color: #fff;
  box-shadow: 0 1px 0 0 #000;
}

/* label focus color */
.input-field textarea:focus + label {
  color: #d500f9 !important;
}

/* label underline focus color */
.input-field textarea:focus {
  border-bottom: 3px solid #d500f9 !important;
  color: #fff;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text], .input-field textarea {
  background-color: rgba(116, 116, 116, 0.3);
  color: #fff;
}

.sendbtn {
  width: 25%;
  margin-left: 3%;
  font-weight: 800 !important;
  font-size: 1.5em;
}

.message-alert {
  position: relative;
  z-index: 9999;
  min-width: 80%;
  transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
  transition-delay: 3s;
  margin: 0.8em 0;
}

.message-success, .message-error {
  text-align: center;
  padding: 10px 3% !important;
  font-size: 1.3em !important;
  min-height: 50px;
  min-width: 70%;
}

.chip .message-success, .chip .message-error {
  display: inline-flex !important;
  height: auto;
}

.message-error {
  background-color: #ef9a9a !important;
}

.message-success {
  background-color: #80cbc4 !important;
}

.message-alert.fade-out {
  opacity: 0;
}

/* Tabs Styling */
li.tab {
  width: 20%;
}

.tabs .tab a {
  color: #d500f9 !important;
  opacity: 0.8;
  font-weight: 600;
}

.tabs .indicator {
  background-color: #d500f9 !important;
}

/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  /* Typography */
  h2, h3 {
    font-family: "VT323", monospace;
    font-size: 2.2em !important;
    letter-spacing: 0.2em;
  }

  .glitch {
    font-size: 2.3em;
  }

  p {
    font-size: 0.9em;
  }

  .btn {
    font-size: 0.8em;
    margin: 0.2em 0;
  }

  /* Section Layout & Styling */
  .container > .right-sidebar {
    top: 0;
    right: 12%;
    left: 12%;
  }

  .right-sidebar ul {
    text-align: center;
  }

  .right-sidebar li {
    padding: 0 12px;
    display: inline-block;
  }

  .glitch::before {
    bottom: 40px;
  }

  .glitch::after {
    bottom: 40px;
  }

  .section-title {
    padding: 1.5em 1em;
  }

  .bio-icon:hover {
    color: #d500f9;
  }

  #skills {
    position: absolute;
    width: 75vw;
    transform: translatex(5vw);
  }

  #bio {
    position: relative;
    z-index: 2;
  }

  /* Form Styling */
  .sendbtn {
    width: inherit;
    font-size: 1.3em !important;
  }

  .message-success, .message-error {
    min-height: 80px;
  }
}
/* iPads (portrait and landscape) ———– */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  /* Typography */
  h3 {
    font-size: 2.32 em;
    letter-spacing: 0.1em;
  }

  .glitch {
    font-size: 2.8em;
  }

  p {
    font-size: 1.1em;
  }

  #bio p {
    font-size: 1.6em;
  }

  /* Section Layout & Styling */
  .container > .right-sidebar {
    top: 1%;
    right: 30%;
    left: 30%;
  }

  .right-sidebar ul {
    text-align: center;
  }

  .right-sidebar li {
    padding: 0 12px;
    display: inline-block;
  }

  #skills {
    position: absolute;
    width: 70vw;
    transform: translateX(-30vw);
  }

  .section-title {
    padding: 5% 0;
  }
}

/*# sourceMappingURL=index.css.map */
