/* Desktops and laptops ———– */

/* Styles */

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden
  }
  
 /* Typography */
  
  h2, h3 {
    font-family: $code;
    letter-spacing: 0.5em;
    font-weight: 600 !important;
  }

  p {
      font-family: $code;
      color: #fff;
  }

  #project p {
    font-size: 1.3em;
  }

  .chip {
    font-size: 18px;
  }
  
 /* Layout & Section Styling */

  .section-title {
    padding: 3% 0;
  }
  
  #home {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/hero-bg.jpg");
    @include background-image();
    width: 100%;
    min-height: 100vh;
    @include flex-col-center();
  }
  
  #about {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding-top: 3%;
    background-image:
      linear-gradient(110deg, rgba(255,0,193, 0.3), rgba(0,0,0, 1) 60%),
      url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/about-bg.jpg");
    @include background-image();
  }
  
  .right-sidebar {
    top: 35%;
    right: 2%;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,0);
  }
  
  .right-sidebar li {
    padding-bottom: 40%;
  }
  
  #projects {
    width: 100%;
    min-height: 100vh;
    background:
      linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
      url('https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/coding-1841550_1280.jpg');
    @include background-image();
  }
  
  #contact {
    width: 100%;
    min-height: 100vh;
    background-image:
      linear-gradient(rgba(131,22,193,0.6), rgba(131,22,193,0.6)),
      url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/contact-bg.jpg");
    @include background-image();
    background-blend-mode: multiply;
  }
  
  .bio-icon:hover {
    color: $bright-pink;
  }


  #bio.glitchin {
    @include animation(glitchin 0.9s linear 1s both);
  }

  #bio.glitchout {
    @include animation (glitchout 0.5s linear both);
  }
  
  /*  Slide In/Out Skills */

  #skills {
    position: absolute;
    width: 50vw;
    transform: translatex(-35vh);
  }

  #skills.glitch-in {
   @include animation (glitchin 0.5s linear 1s both);
  }

  #skills.glitch-out {
   @include animation (glitchout 0.5s linear both);
  }

  /* Forms Styling */

  .contact-form {
    background-color: rgba(0, 0, 0, 0.65) !important;
  }

  .textfield {
    margin-left: 5%;
  }

   /* label color */
   .input-field label {
    color: #ffffff;
    padding-left: 1%;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: $bright-pink !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 3px solid $bright-pink !important;
    color: #fff;
    box-shadow: 0 1px 0 0 #000;
  }

  /* label focus color */
  .input-field textarea:focus + label {
    color: $bright-pink !important;
  }
  /* label underline focus color */
  .input-field textarea:focus {
    border-bottom: 3px solid $bright-pink !important;
    color: #fff;
    box-shadow: 0 1px 0 0 #000;
  }

  .input-field input[type=text], .input-field textarea {
    background-color: rgba(116, 116, 116, 0.3);
    color: #fff;
  }

  .sendbtn {
    width: 25%;
    margin-left:3%;
    font-weight: 800 !important;
    font-size: 1.5em;
  }

  .message-alert {
    position: fixed;
    top: 75vh;
    z-index: 9999;
    min-width: 80%;
    @include transition-opacity(opacity 3s ease-in-out);
    opacity: 1;
    transition-delay: 3s;
  }
  
  .message-success, .message-error {
    text-align: center;
    padding: 10px 3% !important;
    font-size: 1.3em !important;
    min-height: 50px;
    min-width: 70%;
  }
  
  .message-error {
    background-color: #ef9a9a !important;
  }
  
  .message-success {
    background-color: #80cbc4 !important;
  }
  
  .message-alert.fade-out {
    opacity: 0;
  }
  
  /* Tabs Styling */
  li.tab {
    width: 20%;
  }
  
  .tabs .tab a {
    color: $bright-pink !important;
    opacity: 0.8;
    font-weight: 600;
  }
  
  .tabs .indicator {
    background-color: $bright-pink !important;
  }