/* Smartphones (portrait and landscape) ———– */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {

/* Styles */

// Typography

h2, h3 {
    font-family: $code;
    font-size: 2.2em !important;
}

p {
    font-family: $code;
    color: white !important;
    line-height: 1.1em;
    font-size: 1.5em;
  }

  // Section Layout & Styling

.container > .right-sidebar {
     top: 0;
     right: 5vh;
     position: fixed;
    z-index: 999;
    background: rgba(0,0,0,0);
 }

 .right-sidebar li {
    padding: 0 12px;
 }

 .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/hero-bg.jpg");
    @include background-image();
    width: 100%;
    min-height: 100vh;
    @include flex-col-center();
  }

  .about {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding-top: 3%;
    background-image:
      linear-gradient(110deg, rgba(255,0,193, 0.3), rgba(0,0,0, 1) 60%),
      url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/about-bg.jpg");
    @include background-image();
  }

  .projects {
    width: 100%;
    min-height: 100vh;
    background:
      linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
      url('https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/coding-1841550_1280.jpg');
    @include background-image();
  }

  .contact {
    width: 100%;
    min-height: 100vh;
    background-image:
      linear-gradient(rgba(131,22,193,0.6), rgba(131,22,193,0.6)),
      url("https://raw.githubusercontent.com/rockstarcreativestudio/Megan-Bailey-Portfolio/master/src/img/contact-bg.jpg");
    @include background-image();
    background-blend-mode: multiply;
  }

 .glitch {
     font-size: 2.3em;
 }

 .glitch::before {
     bottom: 40px;
 }

 .glitch::after {
     bottom: 40px;
 }

 .section-title {
     padding: 1.5em 0;
 }

 #skills {
     z-index: 0;
 }
}