/* Smartphones (portrait and landscape) ———– */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {

/* Styles */

/* Typography */

h2, h3 {
    font-family: $code;
    font-size: 2.2em !important;
    letter-spacing: 0.2em;
}

  .glitch {
    font-size: 2.3em;
}

p {
    font-size: 0.9em;
}

.btn {
    font-size: 0.8em;
}

   /* Section Layout & Styling */

.container > .right-sidebar {
     top: 0;
     right: 15%;
     left: 15%;
 }

 .right-sidebar ul {
    text-align: center;
}

 .right-sidebar li {
    padding: 0 12px;
    display: inline-block;
 }

 .glitch::before {
     bottom: 40px;
 }

 .glitch::after {
     bottom: 40px;
 }

 .section-title {
     padding: 1.5em 1em;
 }

 .bio-icon:hover {
    color: $bright-pink;
  }

  #skills {
    position: absolute;
    width: 75vw;
    transform: translatex(5vw);
    z-index: 0;
  }

  #bio {
      position: relative;
      z-index: 2;
  }

}