/* iPads (portrait and landscape) ———– */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {

/* Styles */

/* Typography */

h3 {
    font-size: 2.32 em;
    letter-spacing: 0.1em;
    }

.glitch {
    font-size: 2.8em;
    }

p {
    font-size: 1.1em;
  }

  /* Section Layout & Styling */

.container > .right-sidebar {
     top: 0;
     right: 5vh;
 }

 .right-sidebar ul {
    text-align: center;
}

 .right-sidebar li {
    padding: 0 12px;
    display: inline-block;
 }

  #skills {
    position: absolute;
    width: 70vw;
    transform: translatex(2vh);
  }

}